<div class="padd">
    <div class="caddress">
        <address>
            <strong>RAWcom s.c.</strong><br>
            ul. Piaskowa 1<br>
            05-555 Nosy<br>
            <abbr title="Phone">tel:</abbr>
            +48 696484324<br>
            <br>
            <strong>Jacek Rawiak</strong><br>
            <a href="mailto:jacek.rawiak@hotmail.com?Subject=STAFix24.pl">jacek.rawiak@hotmail.com</a>
        </address>
    </div>
</div>