<div class="whity content">
    <!-- Content should be encloased inside div with the class "posts" -->
    <div class="posts">
        <!-- Each entry should be enclosed inside div with the class "entry" -->
        <div class="entry">
            <div class="padd">
                <!-- Entry title -->
                @*<h2><a href="#">Etiam adipiscing posuere justo, nec iaculis</a></h2>*@
                <!-- Flex Slider -->
                <div class="flexslider">
                    <!-- Slider. Replace below links with your image links. Use image size of 650x380. -->
                    <ul class="slides">
                        <li>
                            <img src="~/Images/Carousel/Slajd1.PNG" alt="" />
                        </li>
                        <li>
                            <img src="~/Images/Carousel/Slajd2.PNG" alt="" />
                        </li>
                        <li>
                            <img src="~/Images/Carousel/Slajd3.PNG" alt="" />
                        </li>
                        <li>
                            <img src="~/Images/Carousel/Slajd4.PNG" alt="" />
                        </li>
                        <li>
                            <img src="~/Images/Carousel/Slajd5.PNG" alt="" />
                        </li>
                        <li>
                            <img src="~/Images/Carousel/Slajd6.PNG" alt="" />
                        </li>
                        <li>
                            <img src="~/Images/Carousel/Slajd7.PNG" alt="" />
                        </li>
                        <li>
                            <img src="~/Images/Carousel/Slajd8.PNG" alt="" />
                        </li>
                        
                    </ul>
                </div>
                <!-- Entry para -->
                <p><strong>STAFix24</strong> to wirtualna platforma intranetowa, dzięki której:</p>
                <ul>
                    <li>szybko uporządkujesz gromadzoną w organizacji wiedzę, którą będziesz mógł 
	efektywniej wykorzystać,</li>
                    <li>lepiej zrozumiesz aktualne ograniczenia i problemy z jakimi borykają 
	się pracownicy i poszczególne działy organizacji co pozwoli skuteczniej 
	temu przeciwdziałać</li>
                    <li>skutecznie ograniczysz koszty pozyskania i czas poświęcany na gromadzenie i przetwarzanie 
	informacji skupiając się raczej na analizie zgromadzonych danych</li>
                    <li>dasz pracownikom narzędzie z "najwyższej półki" aby motywować ich do ciągłego 
	rozwoju.</li>
                </ul>
                <p>
                    Ta platforma daje organizacji znacznie większe 
możliwości niż tradycyjne systemy poczty elektronicznej, arkusze kakulacyjne, 
dyski wpółdzielone czy komunikacja mobilna. Sprawia, że informacja, która jest 
największą wartością każdej organizacji jest skutecznie dystrybuowana, aktualna, kompletna, spójna i zabezpieczona.
                </p>

                <blockquote>
                    <p>Znalezienie i zatrzymanie najlepszych pracowników jest najbardziej wartościową zdolnością.<br />Dałbym wszystko, co mam, wszystkie moje pieniądze, aby tylko mieć tę umiejętność.</p>
                    <!-- Author information -->
                    <small>John D. Rockefeller.</small>
                </blockquote>
                <p>
                    Niemal natychmiast po wdrożeniu platformy <strong>STAFix24</strong> docenisz jej pozytywny wpływ na Twoją organizację. Zyskasz lepszą kontrolę nad przebiegiem kluczowych 
procesów biznesowych znacząco redukując przy tym koszty ponoszone na ich obsługę, czy też koszty związane z marnotrastwem zasobów
                </p>


            </div>
        </div>
        <!-- Features -->
        <div class="features">
            <div class="row">
                <div class="col-md-4">
                    <!-- Features #1 -->
                    <div class="padd-f">
                        <!-- Heading with font awesome icon -->
                        <h4><i class="icon-group"></i>Praca grupowa</h4>
                        <!-- Para -->
                        <p>Oferuje narzędzia ułatwiające pracownikom i zespołom realizację codziennych zadań.<br />
                            W ramach platformy zyskujesz wiele gotowych elementów, które pomogą skutecznie gromadzić i przetwarzać informacje wypierając tym samym tradycyjne metody.
                        </p>


                        <a href="#" class="btn btn-default">Czytaj...</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Features #2 -->
                    <div class="padd-m">
                        <h4><i class="icon-cloud"></i>Repozytorium dokumentów</h4>
                        
                        <p>Zapewnia pracownikom szybki dostęp do elektronicznych kopii dokumentów, pozwala na ich wspólne redagowanie, opiniowanie i akceptację.<br />Zapewnia właściwą klasyfikację treści i chroni przed nieautoryzowanym dostępem.</p>
                        
                        <a href="#" class="btn btn-default">Czytaj...</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Features #3 -->
                    <div class="padd-l">
                        <h4><i class="icon-beaker"></i>Automatyzacja procesów</h4>
                  
                        <p>Pozwala na egzekwowanie obowiązych w ramach organizacji procedur postępowania ograniczając do minimum nakłady pracy potrzebne do obsługi procesów.<br />Usprawnia i przyspiesza procesy decyzyjne w organizacji.</p>

                        <a href="#" class="btn btn-default">Czytaj...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



