
            <div class="whity content">
                <!-- Content should be encloased inside div with the class "posts" -->
                <div class="posts">
                    <!-- Each entry should be enclosed inside div with the class "entry" -->
                    <div class="entry">
                        <div class="padd">
                            <!-- Entry title -->
                            <h2><a href="#">Etiam adipiscing posuere justo, nec iaculis</a></h2>
                            <!-- Flex Slider -->
                            <div class="flexslider">
                                <!-- Slider. Replace below links with your image links. Use image size of 650x380. -->
                                <ul class="slides">
                                    <li>
                                        <!-- Link to your picture -->
                                        <img src="content/template/img/photos/s2.jpg" alt="" />
                                        <!-- Caption. It not needed, simply delete the below line. -->
                                        <p class="flex-caption">Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim.</p>
                                    </li>
                                    <li>
                                        <img src="content/template/img/photos/s6.jpg" alt="" />
                                        <p class="flex-caption">Integer porta erat ac eros porta ultrices.</p>
                                    </li>
                                    <li>
                                        <img src="content/template/img/photos/s7.jpg" alt="" />
                                        <p class="flex-caption">Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris.</p>
                                    </li>
                                    <li>
                                        <img src="content/template/img/photos/s4.jpg" alt="" />
                                        <p class="flex-caption">Aenean porta volutpat neque at suscipit. Quisque a mi velit, vel mollis sapien. Etiam vestibulum bibendum neque, at fermentum le et.</p>
                                    </li>
                                    <li>
                                        <img src="content/template/img/photos/s5.jpg" alt="" />
                                        <p class="flex-caption">Cras sit amet nibh dui, a consectetur enim. Nullam sed quam sapien, sit amet venenatis lacus.</p>
                                    </li>
                                </ul>
                            </div>
                            <!-- Entry para -->
                            <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing. <a href="#">Morbi dictum nibh gravida</a> mi pretium dapibus.</p>
                            <blockquote>
                                <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. </p>
                                <!-- Author information -->
                                <small>Ashok</small>
                            </blockquote>
                            <p>Aenean porta volutpat neque at suscipit. Quisque a mi velit, vel mollis sapien. Etiam vestibulum bibendum neque, at fermentum leo commodo et. Aenean pharetra, magna et aliquet eleifend, tortor elit suscipit lectus, a dapibus nulla leo et velit. Vestibulum odio erat, porta et hendrerit eu, convallis eget turpis. Cras sit amet nibh dui, a consectetur enim. Nullam sed quam sapien, sit amet venenatis lacus. Vivamus varius suscipit pulvinar.</p>
                        </div>
                    </div>
                    <!-- Features -->
                    <div class="features">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- Features #1 -->
                                <div class="padd-f">
                                    <!-- Heading with font awesome icon -->
                                    <h4><i class="icon-group"></i>Praca grupowa</h4>
                                    <!-- Para -->
                                    <p>Praesent elementum dignissim hendrerit. Etiam porta congue velit tristique. Duis vehicula, volutpat ultricies, felis consequat lacus, tincidunt odio lacus quis sem. Curabitur dapibus nibh id luctus. Nullam convallis metus nulla, id volutpat mauris. </p>
                                    <a href="#" class="btn btn-default">Read more</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- Features #2 -->
                                <div class="padd-m">
                                    <h4><i class="icon-cloud"></i>Archiwizacja elektroniczna dokumentów</h4>
                                    <p>Proin ac urna a urna bibendum adipiscing non pharetra nisi. Cras nec arcu leo, et tempor mi. Phasellus a elementum sem. In hac habitasse platea dictumst. Curabitur at gravida lorem. Praesent rhoncus arcu sem, a ultrices mauris. Fusce et urna ligulagy.</p>
                                    <a href="#" class="btn btn-default">Read more</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- Features #3 -->
                                <div class="padd-l">
                                    <h4><i class="icon-beaker"></i>Automatyzacja procesów biznesowych</h4>
                                    <p>Sed at elit urna, eu interdum mi. Maecenas sed diam dui, et vulputate lorem. Curabitur pretium, urna et gravida cursus, libero erat dapibus tortor, vel posuere sem. Cras blandit, arcu eget lobortis, risus egestas justo, eget molesti.</p>
                                    <a href="#" class="btn btn-default">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



