<div class="foot">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="padd">
                    <!-- Add class "widget" -->
                    <div class="widget">
                        <!-- Title -->
                        <h3>Motto dnia</h3>
                        <!-- Content -->
                        <!-- Below is the blockquote -->
                        <blockquote>
                            <p> <em>
                            @*W biznesie nie dostajesz tego, na co zasługujesz. Dostajesz to, co wynegocjujesz. Cehster Karass*@
                            @*Zawsze słuchaj ekspertów. Powiedzą Ci, co jest niemożliwe i dlaczego. A potem po prostu zrób to.*@
                            @*Najlepszym sposobem na zdobycie i zatrzymanie klientów jest nieustanne myślenie o tym, jak zaoferować im więcej za mniej. Robert Kotler*@
                            Biurokracja nienawidzi zmian, boi się szybkiego działania i nie znosi prostoty.
                            @*Najcenniejsze, co możesz zdobyć, to zdolność do:
-zmuszania samego siebie, żeby robić to, co należy zrobić;
-wtedy, gdy powinno to być zrobione;
-bez względu na to, czy ci się to podoba czy nie
 Thomas Huxley*@
                            @*Przyczyną nieosiągania większości celów głównych jest zajmowanie się w pierwszej kolejności sprawami drugorzędnymi. John C. Maxwell*@
                            @*Twój biznes i jego przyszłość leżą w rękach ludzi, których zatrudniasz. Akio Morita*@
                            @*<p><em>Nie znam bardziej optymistycznego faktu niż ludzka zdolność do ulepszania życia dzięki świadomemu działaniu. Jeśli ktoś z ufnością podąży za swoimi marzeniami i postanowi prowadzić życie, które sobie wyśnił, bardzo szybko osiągnie niespodziewany sukces. - Walden Thoreau</p></em>*@
    
                            </em></p>
@*                            <!-- Author information -->
                            <small></small>*@
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="padd">
                    <div class="widget">
                        <h3>Technologie</h3>
                        <div class="padd">
                            Windows Azure, 
                            Sharepoint, 
                            Office 365, 
                            SQL, 
                            Nintex workflow, 
                            Visual Studio, 
                            Enterprise Architect, 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="padd">
                    <div class="widget">
                        <h3>Informacja o firmie</h3>
                        @Html.Partial("_CompanyAddressPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
